@charset "UTF-8";
@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css');
/* 공통 부분 */
body{
    font-family: 'NanumSquareRound';
    font-size: 100%;
    overflow-y: scroll;
}


/* 헤더 부분 */
header{
    height: 130px;
    padding: 0;
}
header .wrap{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}
header .top-bg{
    height: 30px;
    border-top: 3px solid rgb(18,100,100);
    background: rgb(245, 245, 245);

}
header .top-navbar{
    max-width: 1200px;
    margin: 0 auto;
}
header .top-navbar a, .top-navbar a:hover, .top-navbar a:focus{
    font-size: 14px;
    padding: 3px 0px 8px;
    margin-left: 12px;
    height: 23px;
    font-weight: bold;
    color: rgb(99, 99, 99);
    text-decoration: none;
}
header .logo{
    width: 250px;
}
header .logo img{
    margin-top: 6px;
    margin-left: 15px;
    width: 225px;
}
header .navbar .container-fluid{
    justify-content: flex-end;
}
header .navbar-nav{
    align-items: center;
}
header .navbar-nav a{
    margin: 0 5px;
}
@media (min-width: 992px){
    .navbar-nav img{
        height: 15px;
        width: 1pt;
        opacity: 0.5;
    }
    .navbar{
        margin-top: 22px;
        justify-self: right;
        align-items: center;
    }
}

@media (max-width: 992px){
    
    header .wrap{
       align-items:flex-start;
    }
    .navbar .navbar-collapse{
        margin-top: 10px;
        background-color: white;
        border: 1px solid gray;
        border-radius: 5px;
        border-collapse: collapse;
        box-sizing:content-box;
        z-index: 1;
    }
    header .navbar-collapse a{
        border-bottom: 1px solid gray;
    }
    header .navbar-collapse .last-nav{
        border-bottom: none;
    }
    header .navbar-nav img{
        display: none;
    }

}
header .nav-link{
    font-size: 1.7rem;
    color: rgb(99, 99, 99/90%);
}
header .wrap .nav-link:hover, .wrap .nav-link:focus{
    font-weight:bold;
    color: rgb(18, 100, 100);
}
header .nav img{
    height:16px;
    margin-top: 13px;
}


/* 메인 부분 */
main{
    max-width: 1200px;
    margin: 15px auto 10px;
}

/* 풋터 부분 */
footer {
    color: gray;
    font-size: small;
    border-top: 1px solid rgb(196, 196, 196);
    display: block;
    /* position: relative; */
    /* transform: translateY(100%); */
    /* position: fixed; */
    bottom: 0; 
    max-width: 1200px; /* 가로 사이즈를 브라우저에 가득 채움 */
    margin: 0 auto;
}
footer p{
    margin: 0;
}
.footer-div {
    display: flex;
    justify-content: space-between;
}

.footer1 {
    width: 47.5%;
    margin-left: 2.5%;
}


.footer2 {
    width: 47.5%;
    margin-right: 2.5%;
    height: 80px;
    
}
.footer3 {
    margin: auto 2.5%;    
}
.footer2>div{
    display: inline-block;
}

footer span {
    margin-right: 100px;
    float: right;
}

